*{
    font-family: verdana;
    box-sizing: border-box;
    margin: 0;
    vertical-align: top;
}
div{
    background-color: rgb(230, 196, 7);
    padding : 0 12%;
}
h2{
    text-align: center;
}
header{
    text-align: center;
    margin: 0 auto;
}
main{
    margin: 0;
    display: flex;
    background-color: white;
}
nav{
    text-align: center;
    margin: 3% 5px;
    padding: 10px;
    width: 200px;
    height: 150px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
article{
    padding: 1em;
    margin: 0 auto;
    text-align: justify;
}
aside{
    text-align: center;
    align-items: center;
    font-size: smaller;
    margin: 5% 1%;
    width: 200px;
    height: 470px;
    padding: 1em;
}
footer{
    margin: 0 auto;
    text-align: center;
}
.bleu{
    background-color: rgb(104, 104, 192);
}
.blanc{
    color: white;
}
#jaune{
    color: rgb(230, 196, 7);
}
#banner{
    width: 100%;
    margin: 0;
}
#matt{
    width: 150px;
    border: 2px solid white;
}
#pinaise{
    font-weight: bold;
    font-size: x-large;
}
@media screen and (max-width: 780px){
    div{
        padding: 0;
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    nav{
        height: 5%;
        width: 100%;
    }
    aside{
        margin: auto;
    }
}